.App {
  text-align: center;
  background-color: #F9F9F9;
}

.uk-navbar-container {
  height: 10vh
}

.uk-button.uk-button-primary, .uk-button.uk-button-primary:active, .uk-button.uk-button-primary:visited {
  background-color: #292659;
}

.uk-button.uk-button-primary:hover {
  background-color: #22197F;
}

.uk-button.uk-button-primary::selection {
  background-color: #292659;
}

.uk-button.uk-button-danger {
  background-color: #EB3E43;
}

.uk-button.uk-button-default.uk-button-small {
  border: #22197F 1.5px solid;
  border-radius: 10px;
}

span.uk-badge {
  background-color: #292659;
}

.uk-section {
  width: 100%;
  height: 90vh;
  text-align: center;
  overflow-y: auto;
}

.sidebar {
  width: 15vw;
  height: 90vh;
  border-right: #C9C9C9 solid 1px;
}

ul.uk-nav-default.uk-nav-parent-icon>li {
  font-size: 16px;
  margin: 10% 0;
}

#height10 {
  height: 10vh
}

#height15 {
  height: 15vh
}

#height20 {
  height: 20vh
}

#height30 {
  height: 30vh
}

#height35 {
  height: 35vh
}

#height30ovfw {
  height: 30vh;
  overflow-y: auto;
}

#height40 {
  height: 40vh
}

#height50 {
  height: 50vh
}